{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}

    <h1 class="text-center">Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification == "Votre mot de passe à bien été mis à jour" %}
        <div class="alert alert-info text-center">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
{% endblock %}
